---
import type { IconType } from 'react-icons/lib';
import { t } from 'i18next';
const { image, icon, name, type, description, listIcons, appLink, repoLink } =
	Astro.props;
---

<div
	class="w-[400px] h-[600px] rounded-md flex flex-col gap-8 bg-gray hover:scale-110 transition ease-in-out delay-150"
>
	<div class="w-full h-fit">
		<img src={image} class="rounded-t-md" />
	</div>
	<div class="w-full px-4 flex flex-col gap-4">
		<div class="flex w-full gap-4">
			<img src={icon} class="w-[40px] h-[40px]" />
			<div>
				<h3 class="text-white font-bold">{t(type)}</h3>
				<h2 class="text-green font-bold">{name}</h2>
			</div>
		</div>
		<p class="text-white ml-2">
			{t(description)}
		</p>
	</div>
	<div class="flex flex-col items-center gap-4">
		<h3 class="text-green font-bold">{t('projects.tech')}</h3>
		<div class="flex text-4xl gap-4 text-green">
			{listIcons.map((Icon: IconType) => <Icon />)}
		</div>
		<div class="mt-6 flex gap-8">
			<a
				href={appLink}
				target="_blank"
				class="bg-green px-4 py-2 rounded-full text-white">Link</a
			>
			<a
				href={repoLink}
				target="_blank"
				class="bg-white px-4 py-2 rounded-full border-2 border-green"
				>{t('projects.repoLink')}</a
			>
		</div>
	</div>
</div>
