---
import { ChallengeInfo } from '../consts';
import ProjectCard from './ProjectCard.astro';
---

<div class="w-full h-screen">
	<div
		class="w-full lg:max-w-7xl lg:mx-auto mx-0 lg:h-full flex flex-col items-center px-8 gap-12"
	>
		<h1 class="text-green font-bold text-4xl mb-8">
			Featured Personal Projects
		</h1>
		<div>
			{
				ChallengeInfo.map((info) => (
					<ProjectCard
						image={info.imageURL}
						icon={info.projectIcon}
						name={info.name}
						type={info.type}
						description={info.description}
						listIcons={info.listOfIcons}
						appLink={info.appLink}
						repoLink={info.repoLink}
					/>
				))
			}
		</div>
	</div>
</div>
